/* General Card Styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-container {
  background-color: #d8d8d8;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.card-title {
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgb(183, 2, 255);
  margin-top: 3rem;
  margin-bottom: 0.25rem;
  color: rgb(0, 162, 255);
}

.card-container {
  background-image: url(images/tumblr_static_tumblr_static_9i5idi7xc4so00ck4k4k888c4_focused_v3.gif);
  width: 900px;
  height: 500px;
  color: white;
  font-weight: 600;
  text-align: center;
  border-radius: 3px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: 0 0 20px 10px black;
  flex-shrink: 0;
}

.card-content {
  display: flex;
  gap: -20px;
  width: 100%;
  justify-content: space-around;
}

.card-item-1 {
  background-color: rgba(0, 0, 255, 0);
  width: 25%;
}

.card-item-1-title,
.card-item-2-title,
.card-item-3-title {
  font-size: 2.25rem;
  text-transform: uppercase;
  margin-top: 10px;
}

.card-item-1-title {
  text-shadow: 0 0 5px rgb(0, 4, 255);
}

.card-item-2-title {
  text-shadow: 0 0 5px rgb(228, 38, 5);
}

.card-item-3-title {
  text-shadow: 0 0 5px rgb(170, 0, 248);
}

.card-item-1-desc,
.card-item-2-desc,
.card-item-3-desc {
  font-size: 1.4rem;
  text-align: start;
  padding: 0;
  margin-top: 20px;
}

.card-item-1-desc li,
.card-item-2-desc li,
.card-item-3-desc li {
  padding: 0 10px 10px;
  list-style-type: none;
  text-align: center;
}

.card-item-2 {
  background-color: rgba(255, 0, 0, 0);
  width: 40%;
}

.card-item-3 {
  background-color: rgba(128, 0, 128, 0);
  width: 25%;
}

@media (max-width: 980px) {
  .card-container {
  }
}
